{% extends 'base.html' %}
{% load formfilters %}
{% block title %}View User{% endblock %}
{% block content %}

        <div class="row">
                <div class="col-md-12">
                <div class="page-header">
                    <h4>Edit User</h4>
                    {{ edit }}
                </div>
                </div>

                <div class="col-md-6">
                <form id="user_form" method="post" action="/user/edit/{{ username }}/" >
                    {% csrf_token %}


                    <div class="form-group">
                        <label for="concept" class="control-label">User name</label>
                           {{ user_form.username|addcss:"form-control" }}

                    </div>

                    <div class="form-group">
                        <label for="concept" class="control-label">Email addres</label>
                           {{ user_form.email|addcss:"form-control" }}

                    </div>

                    <div class="form-group">
                        <label for="concept" class="control-label">Password</label>
                           {{ user_form.password|addcss:"form-control" }}

                    </div>

                    <div class="form-group">
                        <label for="concept" class="control-label">Birthday(YYYY-MM-dd)</label>
                           {{ profile_form.birthday|addcss:"form-control" }}

                    </div>

                    <div class="form-group">
                        <label for="concept" class="control-label">Random Number</label>
                           {{ profile_form.random|addcss:"form-control" }}

                    </div>

                <div class='form-row'>
                      <div class='col-md-12 form-group'>
                                            <hr class="featurette-divider"/>

                                <button class='form-control btn btn-primary submit-button' type='submit'> Save</button>

                              </div>
                            </div>

                </form>
            </div>


        </div>

{% endblock %}


